<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- 版本支持 -->
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <!-- 添加屏幕支持(for Baidu Map) -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- different permissions necessary for google and baidu map, select to use whichever you need -->
    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>

    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <!-- 写SDCard日志功能 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <!-- 获取设置信息和详情页直接拨打电话需要以下权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>

    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    
    <!-- 写SDCard日志功能 -->
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <uses-permission android:name="android.permission.VIBRATE" >
    </uses-permission>

    <!-- QR Code -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 设置用户应用开机自动启动所需的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> 
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <!-- for Google Map -->
        <uses-library android:name="com.google.android.maps" />

        <!-- ===================== Activities ==================== -->
        <activity
            android:name="com.example.helloandroid.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.example.helloandroid.IntentActivity"
            android:label="@string/title_activity_intent" >
        </activity>
        <activity
            android:name="com.example.helloandroid.GoogleMapActivity"
            android:label="@string/title_activity_google_map" >
        </activity>
        <activity
            android:name="com.example.helloandroid.BaiduMapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_baidu_map"
            android:screenOrientation="sensor" >
        </activity>
        <activity
            android:name="com.example.helloandroid.EntranceActivity"
            android:label="@string/title_activity_entrance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.helloandroid.BaiduMapMenuActivity"
            android:label="@string/title_activity_baidu_map_menu" >
        </activity>
        <activity
            android:name="com.example.helloandroid.barcode.main.BarCodeTestActivity"
            android:label="@string/title_activity_barcode_test" >
        </activity>
        <activity
            android:name="com.example.helloandroid.barcode.zxing.activity.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="com.example.helloandroid.weatherforecast.activity.WFMainActivity"
            android:label="@string/title_activity_wfmain" >
        </activity>
        <activity
            android:name="com.example.helloandroid.weatherforecast.activity.SetCityActivity"
            android:label="@string/title_activity_set_city" >
            <intent-filter>

                <!-- 设置其为widget组件的配置Activity -->
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.helloandroid.weatherforecast.activity.AppSettingActivity"
            android:label="@string/title_activity_app_setting" >
        </activity>

        <!-- ===================== Receivers ==================== -->
        <!-- 设定UpdateWidgetService开机自动启动的接收器 -->
    	<receiver android:name="com.example.helloandroid.weatherforecast.receiver.UpdateServiceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <!-- 设定LogService开机自动启动的接收器 -->
        <receiver android:name="com.example.helloandroid.weatherforecast.receiver.LogServiceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
        <!-- 添加widget组件 -->
        <receiver
            android:name="com.example.helloandroid.weatherforecast.widget.WeatherWidget"
            android:icon="@drawable/logo"
            android:label="@string/app_name" >
            <intent-filter>
                <!-- 指定AppWidgetProvider接收的广播 -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_widget" />
        </receiver>

        <!-- ====================== Services ====================== -->
        <!-- Baidu location service -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <!-- 自定义的后台更新widget服务 -->
        <!-- 为了消去加上android:priority="1000"后出现的警告信息，可以设置android:exported属性，指示该服务是否能够被其他应用程序组件调用或跟它交互 -->
        <service android:name="com.example.helloandroid.weatherforecast.service.UpdateWidgetService" android:exported="false" >
            <!-- 已经将该service修改为前台服务了，很大程度上解决了被系统回收的问题，但是时间长了还是会被回收，所以再同时结合下面这个方法 -->
            <!-- 为防止Service被系统回收，可以通过提高优先级解决，1000是最高优先级，数字越小，优先级越低 -->
            <intent-filter android:priority="1000"></intent-filter>
        </service>
        <!-- 向SDCard内写日志的服务 -->
        <service android:name="com.example.helloandroid.weatherforecast.service.LogService" android:exported="false">
            <intent-filter android:priority="1000"></intent-filter>
        </service>

        
    
    </application>

</manifest>