<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.helloandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- for Google Map -->
    <!-- 允许应用通过 GPS 获取当前地理位置信息的权限，较网络获得的地理位置信息更为精确 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 允许应用访问网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许应用通过网络信息获取当前地理位置信息的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!--
    <permission
          android:name="com.example.helloandroid.permission.MAPS_RECEIVE"
          android:protectionLevel="signature"/>
	<uses-permission android:name="com.example.helloandroid.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-feature
		  android:glEsVersion="0x00020000"
		  android:required="true"/>
    -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- for Google Map -->
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="com.example.helloandroid.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
             <meta-data
		    android:name="com.google.android.maps.v2.API_KEY"
		    android:value="AIzaSyB50tre3jsS6ARBGErT2s0Z8CqqT003nyk"/>
        -->
        <activity
            android:name="com.example.helloandroid.IntentActivity"
            android:label="@string/title_activity_intent" >
        </activity>
        <activity
            android:name="com.example.helloandroid.GoogleMapActivity"
            android:label="@string/title_activity_google_map" >
        </activity>
    </application>

</manifest>